<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<h1> FORUM </h1>
<h2> Topics </h2>

<% @topics.each do |topic| %>

<p>Name <%= topic["name"]%></p>
<p>Description <%= topic["description"]%></p>

<% end %>
</body>
</html>
