<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="style.css">

</head>
<body>

<center><h1> Cooking </h1><center>
<h2> Topics </h2>

<% @topics.each do |topic| %>

<a href="/topic/<%= topic['id']%>">Name <%= topic["name"]%></a>
<p>Description <%= topic["description"]%></p>

<% end %>

<h1>Create new topic</h1>

<form action="/topic_submit" method="POST">

<input type="text" name="topic[name]" placeholder="Title" /><br>

<input type="text" name="topic[description]" placeholder="Description" />

<input type="submit" value="Submit" />

<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>

</form>

<a href = "/login">Login</a>

<a href = "/">Signup</a>

</div>

</body>
</html>
